## Importação das bibliotecas

In [82]:
import pandas as pd
import numpy as np
import requests

## Importação do dados da NASA

In [2]:
numero_de_paginas = 1
data = {}
for n in range(0, numero_de_paginas):
    url = f"https://api.nasa.gov/neo/rest/v1/neo/browse?page={n}&api_key=RxmRVoLLKKiUuuKLTytCZD7qBlGayWQ5NeeeRCZ6"
    response = requests.get(url)
    data = response.json()
#    data += json["near_earth_objects"]

In [3]:
data.keys()

dict_keys(['links', 'page', 'near_earth_objects'])

In [4]:
data['page']

{'size': 20, 'total_elements': 25983, 'total_pages': 1300, 'number': 0}

In [5]:
asteroids = {"id": [],
             "nome": [],
             "perigoso": [],#}
#             "distancia_observada": [],
#             "data_aproximicao": [],
             "diametro_min": [],
             "diametro_max":[]}

In [6]:
for asteroid in data['near_earth_objects']:
    asteroids['id'].append(asteroid['id'])
    asteroids['nome'].append(asteroid['name'])
    asteroids['perigoso'].append(asteroid['is_potentially_hazardous_asteroid'])
#    asteroids['distancia_observada'].append(asteroid['close_approach_data']['miss_distance']['lunar'])
#    asteroids['data_aproximicao'].append(asteroid['close_approach_data']['close_approach_date'])
    asteroids['diametro_min'].append(asteroid['estimated_diameter']['kilometers']['estimated_diameter_min'])
    asteroids['diametro_max'].append(asteroid['estimated_diameter']['kilometers']['estimated_diameter_max'])

In [7]:
cols = ["id",
        "nome",
        "perigoso",#]
#        "distancia_observada",
#        "data_aproximicao",
        "diametro_min",
        "diametro_max"]

In [8]:
asteroids_data = pd.DataFrame(asteroids, index=asteroids["id"], columns = cols)
asteroids_data.head()

              id                    nome  perigoso  diametro_min  diametro_max
2000433  2000433      433 Eros (A898 PA)     False     21.905591     48.982391
2000719  2000719    719 Albert (A911 TB)     False      2.101624      4.699374
2000887  2000887    887 Alinda (A918 AA)     False      4.534767     10.140047
2001036  2001036  1036 Ganymed (A924 UB)     False     37.545248     83.953727
2001221  2001221    1221 Amor (1932 EA1)     False      0.884209      1.977152

In [19]:
asteroids_data.describe(include='all')

             id                    nome perigoso  diametro_min  diametro_max
count        20                      20       20     20.000000     20.000000
unique       20                      20        2           NaN           NaN
top     2001627  1580 Betulia (1950 KA)    False           NaN           NaN
freq          1                       1       17           NaN           NaN
mean        NaN                     NaN      NaN      5.765367     12.891752
std         NaN                     NaN      NaN      8.825466     19.734343
min         NaN                     NaN      NaN      0.427125      0.955081
25%         NaN                     NaN      NaN      1.883184      4.210928
50%         NaN                     NaN      NaN      2.922900      6.535803
75%         NaN                     NaN      NaN      4.550538     10.175313
max         NaN                     NaN      NaN     37.545248     83.953727

In [17]:
obj0 = data['near_earth_objects'][0]['close_approach_data']
obj0[0]#['miss_distance']#['lunar']

{'close_approach_date': '1900-12-27',
 'close_approach_date_full': '1900-Dec-27 01:30',
 'epoch_date_close_approach': -2177879400000,
 'relative_velocity': {'kilometers_per_second': '5.5786191875',
  'kilometers_per_hour': '20083.0290749201',
  'miles_per_hour': '12478.8132604691'},
 'miss_distance': {'astronomical': '0.3149291693',
  'lunar': '122.5074468577',
  'kilometers': '47112732.928149391',
  'miles': '29274494.7651919558'},
 'orbiting_body': 'Earth'}

In [45]:
len(obj0)

34

In [121]:
miss_distance = []
for n in range(len(obj0)):
    miss_distance.append(float(obj0[n]['miss_distance']['lunar']))

In [112]:
np.min(miss_distance)

58.1408383566

In [91]:
approach_date = []
for n in range(len(obj0)):
    approach_date.append(obj0[n]['close_approach_date'])

In [97]:
ast_approach = {"id": [],                
                "min_distancia_observada": [],
                "data_aproximicao": []}

In [102]:
for asteroid in data['near_earth_objects']:
    ast_approach['id'].append(asteroid['id'])
    ast_approach['min_distancia_observada'].append(asteroid['close_approach_data']['miss_distance']['lunar'])
#    ast_approach['data_aproximicao'].append(asteroid['close_approach_data']['close_approach_date'])

TypeError: list indices must be integers or slices, not str

In [124]:
def min_distance(ast_id):
    miss_distance = []
    for n in range(len(asteroid['close_approach_data'])):
        miss_distance.append(float(asteroid['close_approach_data'][n]['miss_distance']['lunar']))
    md=np.min(miss_distance)
    return(md)