# Exercício

Suponha que no final de semana haverá um festival de queijos e você queira modelar um Perceptron para predizer se vai ou não nesse festival. Para tomar a decisão, utilizará 3 variáveis (features) binárias:
- $x_1$: O tempo está bom?
- $x_2$: Seu namorado/a quer te acompanhar?
- $x_3$: Tem transporte público por perto? (Você não tem carro)

Considere o bias como a feature $x_0$ com valor $1$ e seu peso como sendo o quanto você está disposto a ir nesse festival. Note que o seu valor cresce no sentido negativo, ou seja, quanto mais próximo de zero, mais você gosta de queijo e está disposto a ir, enquanto valores negativos grandes indicam que não tem tanto desejo de ir.

Nessas condições, modele o perceptron de forma que:

1. Você adora queijo e vá mesmo que seu/ua namorado/a não vá e não exista transporte público próximo. No entanto, se chover fica muito ruim e com certeza não irá.

2. Você vai ao festival se o tempo estiver bom OU se seu/ua namorado/a quiser ir E tiver transporte público.

---

## 1. Bibliotecas

In [40]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import Perceptron
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report, confusion_matrix

## 2. Gerando dados para classificação

In [83]:
df = pd.DataFrame(columns=['Chuva', 'Compania', 'Transporte público'])
m = 1
n = 3
for i in product("01", repeat=m*n):
    df_length = len(df)
    df.loc[df_length] = i

In [90]:
df = df.astype(int)

In [91]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8 entries, 0 to 7
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Chuva               8 non-null      int64
 1   Compania            8 non-null      int64
 2   Transporte público  8 non-null      int64
dtypes: int64(3)
memory usage: 256.0 bytes

In [92]:
x_0 = [1]*8
df.insert(0, 'x_0', x_0)

In [93]:
df

   x_0  Chuva  Compania  Transporte público
0    1      0         0                   0
1    1      0         0                   1
2    1      0         1                   0
3    1      0         1                   1
4    1      1         0                   0
5    1      1         0                   1
6    1      1         1                   0
7    1      1         1                   1

In [94]:
X = df
y1 = [1, 1, 1, 1, 0, 0, 0, 0]
y2 = [1, 1, 1, 1, 0, 0, 0, 1]

## 3a. Função

In [57]:
def step_func(z):
    return 1.0 if (z > 0) else 0.0

## 3b. Implementando Perceptron