# Unsupervised and supervised Optimum-Path Forest

## Bibliotecas

In [8]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

import matplotlib.pyplot as plt
import seaborn as sns

sns.set()

## Carregando ados

In [4]:
# Caminho dos dados
datapath_breast_tissue = '/home/luis/data/uci/BreastTissue.xls'

In [5]:
data_bt = pd.read_excel(datapath_breast_tissue, sheet_name='Data', index_col='Case #')

### Lendo os dados

In [6]:
data_bt

,Class,I0,PA500,HFS,DA,Area,A/DA,Max IP,DR,P
Case #,,,,,,,,,,
1,car,524.794072,0.187448,0.032114,228.800228,6843.598481,29.910803,60.204880,220.737212,556.828334
2,car,330.000000,0.226893,0.265290,121.154201,3163.239472,26.109202,69.717361,99.084964,400.225776
3,car,551.879287,0.232478,0.063530,264.804935,11888.391827,44.894903,77.793297,253.785300,656.769449
4,car,380.000000,0.240855,0.286234,137.640111,5402.171180,39.248524,88.758446,105.198568,493.701814
5,car,362.831266,0.200713,0.244346,124.912559,3290.462446,26.342127,69.389389,103.866552,424.796503
...,...,...,...,...,...,...,...,...,...,...
102,adi,2000.000000,0.106989,0.105418,520.222649,40087.920984,77.059161,204.090347,478.517223,2088.648870
103,adi,2600.000000,0.200538,0.208043,1063.441427,174480.476218,164.071543,418.687286,977.552367,2664.583623
104,adi,1600.000000,0.071908,-0.066323,436.943603,12655.342135,28.963331,103.732704,432.129749,1475.371534
105,adi,2300.000000,0.045029,0.136834,185.446044,5086.292497,27.427344,178.691742,49.593290,2480.592151
106,adi,2600.000000,0.069988,0.048869,745.474369,39845.773698,53.450226,154.122604,729.368395,2545.419744

In [9]:
data_bt.describe(include='all')

,Class,I0,PA500,HFS,DA,Area,A/DA,Max IP,DR,P
count,106,106.000000,106.000000,106.000000,106.000000,106.000000,106.000000,106.000000,106.000000,106.000000
unique,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,adi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,784.251618,0.120133,0.114691,190.568642,7335.155162,23.473784,75.381258,166.710575,810.638127
std,NaN,753.950075,0.068596,0.101347,190.801448,18580.314213,23.354672,81.345838,181.309580,763.019135
min,NaN,103.000000,0.012392,-0.066323,19.647670,70.426239,1.595742,7.968783,-9.257696,124.978561
25%,NaN,250.000000,0.067413,0.043982,53.845470,409.647141,8.180321,26.893773,41.781258,270.215238
50%,NaN,384.936489,0.105418,0.086568,120.777303,2219.581163,16.133657,44.216040,97.832557,454.108153
75%,NaN,1487.989626,0.169602,0.166504,255.334809,7615.204968,30.953294,83.671755,232.990070,1301.559438
max,NaN,2800.000000,0.358316,0.467748,1063.441427,174480.476218,164.071543,436.099640,977.552367,2896.582483

### Particionando

In [17]:
data_bt.iloc[:,1:].columns.tolist()

['I0', 'PA500', 'HFS', 'DA', 'Area', 'A/DA', 'Max IP', 'DR', 'P']

In [18]:
lista_col_X = data_bt.iloc[:,1:].columns.tolist()
X, y = data_bt[lista_col_X], data_bt['Class']

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=42)

print('X_train.shape, y_train.shape = ', X_train.shape, y_train.shape)
print('X_test.shape, y_test.shape = ', X_test.shape, y_test.shape)

X_train.shape, y_train.shape =  (63, 9) (63,)
X_test.shape, y_test.shape =  (43, 9) (43,)