# DataFrame com Spark
---

## 1. Bibliotecas

In [1]:
# Instalando os pacotes necessários

#!conda install pyspark -y
#!conda install -c conda-forge findspark -y

In [2]:
import findspark
findspark.find()
findspark.init()
import pyspark

In [3]:
# Iniciando uma secção spark

from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

22/02/16 08:45:38 WARN Utils: Your hostname, hub-G3-3590 resolves to a loopback address: 127.0.1.1; using 192.168.100.249 instead (on interface enp3s0)
22/02/16 08:45:38 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/opt/spark/jars/spark-unsafe_2.12-3.2.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/02/16 08:45:43 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

## 2. Leitura dos dados

In [4]:
clientes = spark.read.parquet('dataset/Clientes.parquet', inferSchema=True)
clientes.show()

+---------+--------------------+------+------+--------+
|ClienteID|             Cliente|Estado|Genero|  Status|
+---------+--------------------+------+------+--------+
|        1|Adelina Buenaventura|    RJ|     M|  Silver|
|        2|        Adelino Gago|    RJ|     M|  Silver|
|        3|     Adolfo Patrício|    PE|     M|  Silver|
|        4|    Adriana Guedelha|    RO|     F|Platinum|
|        5|       Adélio Lisboa|    SE|     M|  Silver|
|        6|       Adérito Bahía|    MA|     M|  Silver|
|        7|       Aida Dorneles|    RN|     F|  Silver|
|        8|   Alarico Quinterno|    AC|     M|  Silver|
|        9|    Alberto Cezimbra|    AM|     M|  Silver|
|       10|    Alberto Monsanto|    RN|     M|    Gold|
|       11|       Albino Canela|    AC|     M|  Silver|
|       12|     Alceste Varanda|    RR|     F|  Silver|
|       13|  Alcides Carvalhais|    RO|     M|  Silver|
|       14|        Aldo Martins|    GO|     M|  Silver|
|       15|   Alexandra Tabares|    MG|     F|  Silver|
|       16|      Alfredo Cotrim|    SC|     M|  Silver|
|       17|     Almeno Figueira|    SC|     M|  Silver|
|       18|      Alvito Peralta|    AM|     M|  Silver|
|       19|     Amadeu Martinho|    RN|     M|  Silver|
|       20|      Amélia Estévez|    PE|     F|  Silver|
+---------+--------------------+------+------+--------+
only showing top 20 rows

In [5]:
clientes.printSchema()

root
 |-- ClienteID: long (nullable = true)
 |-- Cliente: string (nullable = true)
 |-- Estado: string (nullable = true)
 |-- Genero: string (nullable = true)
 |-- Status: string (nullable = true)

In [6]:
vendas = spark.read.parquet('dataset/Vendas.parquet', inerSchema=True)
vendas.show()

+--------+----------+---------+---------+--------+
|VendasID|VendedorID|ClienteID|     Data|   Total|
+--------+----------+---------+---------+--------+
|       1|         1|       91| 1/1/2019|  8053.6|
|       2|         6|      185| 1/1/2020|   150.4|
|       3|         7|       31| 2/1/2020|  6087.0|
|       4|         5|       31| 2/1/2019| 13828.6|
|       5|         5|       31| 3/1/2018|26096.66|
|       6|         5|       31| 4/1/2020| 18402.0|
|       7|         5|       31| 6/1/2019|  7524.2|
|       8|         5|      186| 6/1/2019| 12036.6|
|       9|         7|       91| 6/1/2020| 2804.75|
|      10|         2|      202| 6/1/2020|  8852.0|
|      11|         7|       58| 8/1/2019|16545.25|
|      12|         7|       58| 9/1/2018|11411.88|
|      13|         7|       58|10/1/2019| 15829.7|
|      14|         3|      249|12/1/2020| 6154.36|
|      15|         4|      249|12/1/2018| 3255.08|
|      16|         7|      192|13/1/2020| 2901.25|
|      17|         2|       79|13/1/2019| 15829.7|
|      18|        10|       79|14/1/2019|16996.36|
|      19|        10|      191|14/1/2019|   155.0|
|      20|         9|      218|15/1/2018|  131.75|
+--------+----------+---------+---------+--------+
only showing top 20 rows

In [7]:
vendas.printSchema()

root
 |-- VendasID: long (nullable = true)
 |-- VendedorID: long (nullable = true)
 |-- ClienteID: long (nullable = true)
 |-- Data: string (nullable = true)
 |-- Total: double (nullable = true)

## 3. Consultas

In [8]:
df_reordenado = clientes.select('Cliente', 'Estado', 'Status')
df_reordenado.show()

+--------------------+------+--------+
|             Cliente|Estado|  Status|
+--------------------+------+--------+
|Adelina Buenaventura|    RJ|  Silver|
|        Adelino Gago|    RJ|  Silver|
|     Adolfo Patrício|    PE|  Silver|
|    Adriana Guedelha|    RO|Platinum|
|       Adélio Lisboa|    SE|  Silver|
|       Adérito Bahía|    MA|  Silver|
|       Aida Dorneles|    RN|  Silver|
|   Alarico Quinterno|    AC|  Silver|
|    Alberto Cezimbra|    AM|  Silver|
|    Alberto Monsanto|    RN|    Gold|
|       Albino Canela|    AC|  Silver|
|     Alceste Varanda|    RR|  Silver|
|  Alcides Carvalhais|    RO|  Silver|
|        Aldo Martins|    GO|  Silver|
|   Alexandra Tabares|    MG|  Silver|
|      Alfredo Cotrim|    SC|  Silver|
|     Almeno Figueira|    SC|  Silver|
|      Alvito Peralta|    AM|  Silver|
|     Amadeu Martinho|    RN|  Silver|
|      Amélia Estévez|    PE|  Silver|
+--------------------+------+--------+
only showing top 20 rows

In [9]:
df_filtrado = clientes.where('Status == "Platinum" or Status == "Gold"')
df_filtrado.show()

+---------+-------------------+------+------+--------+
|ClienteID|            Cliente|Estado|Genero|  Status|
+---------+-------------------+------+------+--------+
|        4|   Adriana Guedelha|    RO|     F|Platinum|
|       10|   Alberto Monsanto|    RN|     M|    Gold|
|       28|      Anna Carvajal|    RS|     F|    Gold|
|       49|      Bento Quintão|    SP|     M|    Gold|
|       68|      Carminda Dias|    AM|     F|    Gold|
|       83|      Cláudio Jorge|    TO|     M|    Gold|
|      121|    Dionísio Saltão|    PR|     M|    Gold|
|      166|   Firmino Meireles|    AM|     M|    Gold|
|      170|      Flor Vilanova|    CE|     M|Platinum|
|      220|Honorina Villaverde|    PE|     F|    Gold|
|      230|    Ibijara Botelho|    RR|     F|Platinum|
|      237|  Iracema Rodríguez|    BA|     F|    Gold|
|      247|         Joana Ataí|    GO|     F|Platinum|
+---------+-------------------+------+------+--------+

In [10]:
from pyspark.sql.functions import *

In [11]:
cont_status = clientes.groupby('Status').agg(count('Status')).orderBy('count(status)', ascending=False)
cont_status.show()

+--------+-------------+
|  Status|count(Status)|
+--------+-------------+
|  Silver|          237|
|    Gold|            9|
|Platinum|            4|
+--------+-------------+

In [29]:
cont_status = clientes.groupby('Status').agg(contagem=('Status', 'count')).orderBy('count(status)', ascending=False)
cont_status.show()

TypeError: agg() got an unexpected keyword argument 'contagem'

In [12]:
#f.select("firstName", "age") \
#.write \
#.save("namesAndAges.json",format="json")

## 4. Salvando os resultados

In [21]:
df_reordenado.write.mode('overwrite').format('csv').save('dataset/resultados/df_reordenado_csv')
df_reordenado.write.mode('overwrite').format('json').save('dataset/resultados/df_reordenado_json')

In [22]:
df_filtrado.write.mode('overwrite').format('orc').save('dataset/resultados/df_filtrado_orc')
df_filtrado.write.mode('overwrite').format('parquet').save('dataset/resultados/df_filtrado_parquet')

In [35]:
# O spark não salva o DataFrame por que não aceita os caracteres do nome da
# coluna que foi agregada
cont_status = cont_status.withColumnRenamed('count(Status)', 'Qtd_status')
cont_status.columns

['Status', 'Qtd_status']

In [36]:
cont_status.write.mode('overwrite').format('csv').save('dataset/resultados/cont_status_csv')
cont_status.write.mode('overwrite').format('json').save('dataset/resultados/cont_status_json')
cont_status.write.mode('overwrite').format('orc').save('dataset/resultados/cont_status_orc')
cont_status.write.mode('overwrite').format('parquet').save('dataset/resultados/cont_status_parquet')